---
import { getRelativeLocaleUrlList } from 'astro:i18n';
import { WebsiteConfig } from '../config';
import { baseLocale } from "../paraglide/runtime";

export function getStaticPaths() {
	return getRelativeLocaleUrlList().map((locale) => {
		let localeItem = locale.split('/')[1];
		return {
			params: { locale: localeItem },
		};
	});
}
---
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content={`0;url=/${baseLocale}/`} />
		<meta name="description" content={WebsiteConfig.siteDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={WebsiteConfig.faviconPath} />
		<meta property="og:title" content={WebsiteConfig.siteTitle}>
        <meta property="og:site_name" content={WebsiteConfig.siteTitle} >
        <meta property="og:url" content="https://2026.ubuntu-kr.org">
        <meta property="og:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta property="og:type" content="">
        <meta property="og:image" content="https://2026.ubuntu-kr.org/og.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content=`@${WebsiteConfig.socialMedia.twitter}`>
        <meta name="twitter:title" content={WebsiteConfig.siteTitle}>
        <meta name="twitter:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta name="twitter:image" content="https://2026.ubuntu-kr.org/og.png">
        <title>{WebsiteConfig.siteTitle}</title>
    </head>
