---
import { WebsiteConfig } from "../config";
const redirect_url = "https://event-us.kr/m/124753/53264";
---
<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content={`참가등록 Register | ${WebsiteConfig.siteTitle}`}>
        <meta property="og:site_name" content={WebsiteConfig.siteTitle} >
        <meta property="og:url" content="">
        <meta property="og:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta property="og:type" content="">
        <meta property="og:image" content="https://2026.ubuntu-kr.org/og.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content=`@${WebsiteConfig.socialMedia.twitter}`>
        <meta name="twitter:title" content={`참가등록 Register | ${WebsiteConfig.siteTitle}`}>
        <meta name="twitter:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta name="twitter:image" content="https://2026.ubuntu-kr.org/og.png">

        <meta http-equiv="refresh" content=`0;url=${redirect_url}` />
        <title>{WebsiteConfig.siteTitle}</title>
    </head>

    <body>
        <p>리다이렉트가 작동하지 않는다면, <a href={redirect_url}>여기를 클릭하여 직접 리다이렉트 할 수 있습니다.</a></p>
        <p>If page redirect doesn't work, <a href={redirect_url}>click here to redirect manually.</a></p>
    </body>
    
    <script is:inline>
        //redirect
        window.location = {redirect_url}; 
    </script>
</html>
