---
import { WebsiteConfig } from "../config";
import eventLogo from "@assets/logo.svg";
import { extractLocaleFromUrl } from "../paraglide/runtime";
import { useTranslations } from "../i18n/utils.ts";

const locale = extractLocaleFromUrl(Astro.url);
const m = useTranslations(locale);

const indicoResponse = await fetch(WebsiteConfig.featuredSpeakers.indicoExportUrl);
const indicoResJson = await indicoResponse.json();
const sessions = indicoResJson.results
    ? indicoResJson.results[0].contributions
    : null;
const featuredSessions = sessions.filter((session: any) => {
    return WebsiteConfig.featuredSpeakers.contributionIds.includes(session.friendly_id);
});

const featuredSpeakers = [];
for (const session of featuredSessions) {
    if (session.speakers.length === 0) {
        featuredSpeakers.push({
            name: "TBD",
            profileImg: null,
            title: session.title,
            url: session.url
        });
    }
    
    for (const speaker of session.speakers) {
        const imgId = WebsiteConfig.featuredSpeakers.speakerIds.find(
            (user) => speaker.db_id === user.db_id
        );
        featuredSpeakers.push({
            name: `${speaker.first_name} ${speaker.last_name}`,
            profileImg: imgId?.user,
            title: session.title,
            url: session.url
        })
    }
}

---

{featuredSpeakers.length <= 0 ? "":
    <section class="p-section">
	    <div class="p-section--shallow">
	        <div class="row">
	            <hr class="p-rule">
	        </div>

            <div class="row">
            <h2>{m("featuredBanner_title")}</h2>
            {featuredSpeakers.map((speaker) => (
                <div class="col-4 col-medium-3">
                    <a class="p-media-object--large p-button--base" href={speaker.url} target="_blank">
                        <img src={speaker.profileImg ? 
                                `https://events.canonical.com/user/${speaker.profileImg}/picture-default`
                                : eventLogo.src
                            }
                            onerror={`this.onerror=null;this.src=${eventLogo.src}`}
                            class="p-media-object__image is-round"
                            alt=""
                            loading="lazy"
                        />
                        <div class="p-media-object__details">
                            <h3>
                                {speaker.name}
                            </h3>
                            <p class="p-media-object__content">
                                {speaker.title}
                            </p>
                            <ul class="p-media-object__meta-list" />
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
            <div class="row">
                <div class="col-12">
                    <a href={`programs/timetable`} class="p-button">
                        {m("featuredBanner_button")}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
}

<style>
    h3 {
        color: var(--vf-color-link-default);
    }

    h3, .p-media-object__content {
        margin-bottom: 0;
    }

    .p-button--base {
        text-align: start;
        justify-content: start;
    }
</style>
