---
import { locales } from "../paraglide/runtime";
---

<span class="p-contextual-menu--left">
    <button class="p-contextual-menu__toggle" aria-controls="menu-3" aria-expanded="false" aria-haspopup="true">🌐 {Astro.currentLocale}</button>
    <span class="p-contextual-menu__dropdown" id="menu-3" aria-hidden="true">
      <span class="p-contextual-menu__group">
        {locales.map((locale, index) => {
            return (
              <a class="p-contextual-menu__link" href={Astro.url.pathname.replace(String(Astro.currentLocale), locale)}>
                {locale}
              </a>
            );
        })}
      </span>
    </span>
  </span>

  <script>
    /**
  Toggles the necessary aria- attributes' values on the menus
  and handles to show or hide them.
  @param {HTMLElement} element The menu link or button.
  @param {Boolean} show Whether to show or hide the menu.
  @param {Number} top Top offset in pixels where to show the menu.
*/
function toggleMenu(element: HTMLElement, show: boolean, top?: number) {
  const target = document.getElementById(element.getAttribute('aria-controls')?? '');

  if (target) {
    element.setAttribute('aria-expanded', show.toString());
    target.setAttribute('aria-hidden', (!show).toString());

    if (typeof top !== 'undefined') {
      target.style.top = top + 'px';
    }

    if (show) {
      target.focus();
    }
  }
}

/**
  Attaches event listeners for the menu toggle open and close click events.
  @param {HTMLElement} menu The menu container element.
*/

function setupContextualMenu(menu: HTMLElement) {
  const toggle = menu.querySelector('.p-contextual-menu__toggle') as HTMLElement;
  const dropdown = menu.querySelector('.p-contextual-menu__dropdown') as HTMLElement;

  toggle?.addEventListener('click', function(event) {
    event.preventDefault();
    const menuAlreadyOpen = toggle.getAttribute('aria-expanded') === 'true';

    let top = toggle.offsetHeight;
    // for inline elements leave some space between text and menu
    if (window.getComputedStyle(toggle).display === 'inline') {
      top += 5;
    }

    toggleMenu(toggle, !menuAlreadyOpen, top);
  });

  // Add handler for clicking outside the menu.
  document.addEventListener('click', function(event) {
    const contextualMenu = document.getElementById(toggle.getAttribute('aria-controls')?? '');
    const clickOutside = !(toggle.contains(event.target as Node) || contextualMenu?.contains(event.target as Node));

    if (clickOutside) {
      toggleMenu(toggle, false);
    }
  });

  //Add event listener to close menu when tab focus leaves
  dropdown.addEventListener('focusout', function(e) {
    // Check if where you have tabbed to is in the dropdown
    if (dropdown.contains(e.relatedTarget as Node)) return;

    toggleMenu(toggle, false);
  });

  // Add handler for closing menus using ESC key.
  document.addEventListener('keydown', function(e) {
    e = e || KeyboardEvent;

    if (e.key === "Escape") {
      toggleMenu(toggle, false);
    }
  });
}

/**
  @param {String} contextualMenuSelector The CSS selector matching menu toggle elements.
*/
function setupAllContextualMenus(contextualMenuSelector: string) {
  // Setup all contextual menus on the page.
  const menus = document.querySelectorAll(contextualMenuSelector) as NodeListOf<HTMLElement>;

  for (var i = 0, l = menus.length; i < l; i++) {
    setupContextualMenu(menus[i]);
  }
}

setupAllContextualMenus('.p-contextual-menu, [class*="p-contextual-menu--"]');
  </script>