---
import { WebsiteConfig } from "../config";
import { extractLocaleFromUrl } from "../paraglide/runtime";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
	<html lang={extractLocaleFromUrl(Astro.url)}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ? description : WebsiteConfig.siteDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={WebsiteConfig.faviconPath} />
		<meta property="og:title" content={WebsiteConfig.siteTitle}>
        <meta property="og:site_name" content={WebsiteConfig.siteTitle} >
        <meta property="og:url" content="https://2026.ubuntu-kr.org">
        <meta property="og:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta property="og:type" content="">
        <meta property="og:image" content="https://2026.ubuntu-kr.org/og.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content=`@${WebsiteConfig.socialMedia.twitter}`>
        <meta name="twitter:title" content={WebsiteConfig.siteTitle}>
        <meta name="twitter:description" content="8월 29일 Aug 29th | Microsoft Korea 13F">
        <meta name="twitter:image" content="https://2026.ubuntu-kr.org/og.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ${WebsiteConfig.siteTitle}` : WebsiteConfig.siteTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
// Import the framework
@import "vanilla-framework";

// Import Web Font for Korean glyphs
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

// Include all of Vanilla Framework
@include vanilla;
@include vf-p-icon-tag;
@include vf-p-icon-topic;


// Apply Keep-All and Web Font to Korean words
body {
	word-break: keep-all;
	font-family: "Ubuntu variable", Ubuntu, Pretendard, "Pretendard Variable", -apple-system, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue",sans-serif;
	font-display: swap;
}

.p-media-object--large .p-media-object__image {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 1/1;
}

.p-navigation__toggle--open, .p-navigation__toggle--close {
	height: 100%;
	text-align: center;
	line-height: 2;
}

.ukc-floating-ui {
	position: fixed;
	bottom: 0rem;
	right: 1rem;
}
</style>
