---
import Layout from '@layouts/Layout.astro';
import Navigation from '@components/Navigation.astro';
import LocaleSwither from '@components/LocaleSwither.astro';
import { WebsiteConfig } from "../config";
import { useTranslations } from "../i18n/utils.ts";
import { extractLocaleFromUrl } from "../paraglide/runtime";
import ThemeSwither from '@components/ThemeSwither.astro';
interface Props {
	title?: string;
}

const { title } = Astro.props;
const locale = extractLocaleFromUrl(Astro.url);
const m = useTranslations(locale);
---

<Layout title={title}>
	<Navigation/>
	<slot />
    <footer class="l-footer--sticky p-strip--dark" role="contentinfo">
        <div class="u-fixed-width">
            <LocaleSwither/>
            <ThemeSwither/>
            <div class="p-logo-section--dense">
                <div class="p-logo-section__items" style={{ 
                    display: "flex", 
                    flexWrap: "wrap"
                }}>
                    {
                        WebsiteConfig.footer.organizers.map((item) => (
                            <div class="p-logo-section__item">
                                {item.link !== "" ? (
                                <a href={item.link} target="_blank" style={item.desc ? { 
                                    display: "flex", alignItems: "center", fontSize: "64px", fontWeight: 600,
                                    margin: "0.5rem 0"
                                } : { display: "flex", alignItems: "center", margin: "0.5rem 0" }}>
                                    <img style={item.desc ? 
                                            {maxHeight: "60px", paddingTop: "10px", filter: "contrast(50%)"} :
                                            {maxHeight: "60px", paddingTop: "10px"}
                                        }
                                        height="60px"
                                        class="p-logo-section__logo"
                                        src={item.logoImage}
                                        loading="lazy"
                                        decoding="async"
                                        alt={item.name}
                                    />
                                    {item.desc ? (
                                        <span style={{ 
                                            paddingTop: "8px",
                                            marginInlineStart: "4px",
                                            color: "#bfbfbf",
                                            letterSpacing: "-2px"
                                        }}>
                                            {item.desc}
                                        </span>
                                    ) : ""}
                                </a>
                                ) : (
                                <span style={item.desc ? { 
                                    display: "flex", alignItems: "center", fontSize: "52px", fontWeight: 600,
                                    margin: "16px 0 8px -4px"
                                } : { display: "flex", alignItems: "center", margin: "0.5rem 0" }}>
                                    <img style={item.desc ? 
                                            {maxHeight: "48px", paddingTop: "10px", filter: "contrast(50%)"} :
                                            {maxHeight: "48px", paddingTop: "10px"}
                                        }
                                        class="p-logo-section__logo"
                                        src={item.logoImage}
                                        loading="lazy"
                                        decoding="async"
                                        alt={item.name}
                                    />
                                    {item.desc ? (
                                        <span style={{ 
                                            paddingTop: "8px",
                                            marginInlineStart: "4px",
                                            color: "#bfbfbf",
                                            letterSpacing: "-2px"
                                        }}>
                                            {item.desc}
                                        </span>
                                    ) : ""}
                                </span>
                                )}
                            </div>
                        ))
                    }
                </div>
            </div>
            <nav class="grid-row" aria-label="Footer">
                <div class="has-cookie">
                    <p>
                        {WebsiteConfig.footer.copyright}
                    </p>
                    <ul class="p-inline-list--middot">
                        <li class="p-inline-list__item">
                            <a href={WebsiteConfig.footer.contactUs}>
                                <small>{m("footer_contact")}</small>
                            </a>
                        </li>
                        <li class="p-inline-list__item">
                            <a href={WebsiteConfig.footer.srcRepoUrl}>
                                <small>{m("footer_source")}</small>
                            </a>
                        </li>
                        <li class="p-inline-list__item">
                            <a href="https://ubucon.org">
                                <small>{m("footer_ubucons")}</small>
                            </a>
                        </li>
                        <li class="p-inline-list__item">
                            <small>{m("footer_other_years")}</small>
                            <a href="https://2023.ubuntu-kr.org">
                                <small>2023</small>
                            </a>
                            <a href="https://2024.ubuntu-kr.org">
                                <small>2024</small>
                            </a>
                            <a href="https://2025.ubuntu-kr.org">
                                <small>2025</small>
                            </a>
                        </li>
                    </ul>
                    <span class="ukc-floating-ui">
                        <button onclick="body.scrollIntoView({ behavior: 'smooth' })" aria-label={m("footer_top")}>
                            <i class="p-icon--chevron-up" />
                        </button>
                    </span>
                </div>
            </nav>
        </div>
        
    </footer>
</Layout>
